/* # New Project / Start at 2025/02/18 */
/* import icon */
/* menu */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
/* cart, search */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
/* ************** */
/* ************** */
/* # reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif ;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/* ************** */
/* ************** */
/* # 全域 */
:root {
    /* color */
    --main-color: #bc9667;
    --second-color: #edeae3;
    --bg-color: #fff;
    
    /* btn */
    --btn-color-1: #8a6f4d;
    /* header */
    --header-color-1: #1b1b1b;
    /* font */
    --font-color-1: #c5c5c5;
    --font-color-2: #1c1c1c;

    /* shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);

    /* testing color */
    --test-bg-color: red;

    /* transition */
    --transition-1: 0.5s linear;
    --transition-2: 0.2s all linear;

}
section {
    padding: 50px 100px;
}
img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    color: var(--header-color-1);
}
.btn {
    padding: 10px 40px;
    border-radius: 5px;
    border: 1px solid #404040;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
    text-shadow: 1px 1px 0 black;
}
.btn:is(:hover, :focus) {
    background: var(--btn-color-1);
}
/* ************** */
/* ************** */
/* # navbar */
header{
    position: fixed; /* 固定於頁面最上方 */
    z-index: 100;    /* 在所有元素最上方 */
    width: 100%;
    height: 80px;    /* 設定 header 固定高度 */
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    background-color: var(--header-color-1);
    transition: var(--transition-1);
}
.header-logo {
    width: 80px;
}
.menu-link {
    display: flex;
}
.menu-link a {
    padding: 8px 15px;
    color: var(--font-color-1);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.menu-link a:is(:hover, :focus) {
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: var(--transition-2);
}
.header-icon {
    color: var(--font-color-1);
    font-size: 1.3rem;
    line-height: 1.1rem;

    display: flex;
    column-gap: 1rem;
    padding-inline: 8px;
}
.header-icon i:is(:hover, :focus) {
    cursor: pointer;
    color: var(--main-color);
}
#menu-icon {
    color: var(--font-color-1);
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    /* display: none; */
}
#menu-icon:is(:hover, :focus) {
    color: var(--main-color);
}
.search-box {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
    display: none;
}
.search-box.active {
    top: 100%;
    box-shadow: var(--box-shadow);
    transition: var(--transition-2);
    display: block;
}
.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--main-color);
}
.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}
/* ************** */
/* ************** */
/* # home */
.home {
    width: 100%;
    min-height: 100vh;
    background: url("/Sneaker/img/home-banner.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 76px;
    margin-top: 80px;   /* 讓 home 區塊從 <header> 下方開始 */
}
.home-text h1 {
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow:  3px 3px 0 rgb(117, 79, 25);
    /* text-shadow: 水平偏移 | 垂直偏移 | 模糊程度 | 顏色 */
    text-align: center;
}
.home-text p {
    font-size: 1.2rem;
    color: var(--bg-color);
    margin: 0.5rem 0 1.4rem;
    text-shadow: 1px 1px 0 black;
    text-align: justify;
}
.home-text {
    display: flex;
    flex-direction: column;
}
.home-btn{
    margin-left: auto;
    /* 使 .home-btn 靠右*/
}
.home-img img {
    border-radius: 5px;
}
/* ************** */
/* ************** */
/* # about */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 76px;
    /* margin-top: 80px;  */
    /* 讓 about 區塊從 home 區塊下方 80px 開始 */
}
.about-img img{
    border-radius: 5px;
}
.about-text h2 {
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow:  3px 3px 0 rgb(117, 79, 25);
    text-align: center;
}
.about-text p {
    font-size: 1.2rem;
    color: var(--font-color-2);
    margin: 0.5rem 0 1.4rem;
    /* text-shadow: 1px 1px 0 black; */
    text-align: justify;
}
/* ************** */
/* ************** */
/* # product */

