:root {
    /* # Color */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --blue: hsl(207, 57%, 71%);
    --bittersweet: hsl(5, 100%, 69%);
    --salmon: hsl(5, 100%, 73%);


    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --onyx: hsl(0, 0%, 27%);


    /* # transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);


    /* # font */
    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;

    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;


    /* # space */
    --section-padding: 60px;
}
/* # 重複 */
.h1, .h2, .h3, .h4 {
    color: var(--rich-black-fogra-29);
}
.h1{
    font-size: var(--fs-1);
    font-weight: var(--fw-300);
    line-height: 1.5;
}
.h2 {
    font-style: var(--fs-2);
}
.h3 {
    font-style: var(--fs-3);
}
.h4 {
    font-style: var(--fs-4);
    text-transform: uppercase;
}
.btn{
    background: var(--bittersweet);
    color: var(--white);
    font-size: var(--fs-5);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 14px 25px;
    border: 2px solid var(--gray-x-11-gray);
}
.btn-primary:is(:hover, :fouce) {
    background: var(--salmon);
}
.btn-secondary {
    background: transparent;
    border-color: var(--white);
    color: var(--white);
}
.btn-secondary:is(:hover, :fouce) {
    background: hsl(0, 0%, 0%, 0.5);
}
/* # RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button, input {
    cursor: pointer;
    border: none;
    background: none;
}
a, img, span, table, tbody, button, ion-icon {
    display: block;
}
body {
    background-color: var(--white);
    padding-block-start: 20px;
    height: 300vh;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}
/* # header */
.header {
    background: var(--blue);
    position: fixed;    /*相對於瀏覽器視窗來定位，固定在相同的位置*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    transition: var(--transition-1);
    /* opacity: 0; */
}
.header.active {
    box-shadow: 0 2px 10px hsl(0, 0%, 0%, 0.5);
} 
.header .container{
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    /* height: 100px; */
}
.nav-open-btn {
    background: var(--bittersweet);
    color: var(--white);
    padding: 10px;
    font-size: 20px;
}
.nav-open-btn:is(:hover, :focus) {
    /* # :hover 暫時性，:focus 持續性 */
    background: var(--salmon);
}
.navbar {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -280px;
    z-index: 2;
    width: 100%;
    max-width: 240px;
    height: 100%;
    border-right: 3px solid var(--rich-black-fogra-29);
    overflow-y: auto;   /* 垂直方向上的內容溢出會自動調整 */
    overscroll-behavior: contain;
    visibility: hidden; /* 隱藏 box */
    transition: 0.25s var(--cubic-out);
}
.navbar.active {
    visibility: visible; /* 顯示 box */
    transform: translateX(280px);
    transition: 0.5s var(--cubic-in);
}
.nav-close-btn {
    color: var(--rich-black-fogra-29);
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    font-size: 25px;
    transition: var(--transition-1);
}
/* .nav-close-btn i {
    --ionicon-stroke-width: 55px; 
} */
.nav-close-btn:is(:hover, :focus){
    color: var(--maximum-blue-green_10);
}
.navbar .logo {
    background: var(--maximum-blue-green_10);
    padding: 10px;
}
.navbar .logo img{
    /* margin-inline: auto; */
    margin: 30px auto;
}
.navbar .navbar-list, .navbar .nav-action-list {
    margin: 30px;
}
.navbar .navbar-list {
    padding: 20px;
    border-bottom: 1px solid var(--gainsboro);
}
.navbar-list .navbar-link {
    color: var(--rich-black-fogra-29);
    padding-block: 10px;
    transition: var(--transition-1);
}
.navbar-list .navbar-link:is(:hover, :fouce) {
    color: var(--bittersweet);
}
.navbar-item:not(:last-child) {
    border-bottom: 1px solid var(--gainsboro);
}
.nav-action-list > li:first-child {
    display: none;
}
.nav-action-btn {
    color: var(--rich-black-fogra-29);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-block: 10px;
    transition: var(--transition-1);
}
.nav-action-btn:is(:hover, :focus) {
    color: var(--bittersweet);
}
.nav-action-btn i {
    font-size: 22px;
    width: 25px;
    /* # 讓 3個圖標水平垂直置中 */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}
.nav-action-text{
    font-weight: initial;
    color: var(--bittersweet);
}
.nav-action-badge {
    margin-left: auto;
    font-size: var(--fs-8);
    background: var(--bittersweet);
    border-radius: 50%;
    width: 19px;
    height: 19px;
    display: grid;
    place-items: center;
}
.overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.6);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* 新增：計算 .header 的高度，並添加 padding-top 到 <main> */
main {
    padding-top: 70px; /* 假設 .header 的高度是 60px，根據實際情況調整 */
}
/* # hero */
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    width: 100%;
    /* min-width: 400px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero .container {
    /* height: 70vh; */
    padding-inline: 30px;
}
.hero-title {
    margin-bottom: 10px;
}
.hero-title > strong {
    display: block;
}
.section {
    padding-block: var(--section-padding);
}
.hero-text {
    color: var(--onyx);
    font-family: var(--ff-roboto);
    font-size: var(--fs-8);
    line-height: 1.8;
    max-width: 46ch;
    margin-bottom: 25px;
}
/* # Collection */
.collection-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 45px 25px;

}
.has-scrollbar {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    scroll-snap-type: inline proximity;
    padding: 20px;
    scroll-behavior: smooth; /* 添加平滑滾動效果 */
}
.has-scrollbar > li {
    min-width: 100%;
    scroll-snap-align: center;
}
.has-scrollbar::-webkit-scrollbar {
    height: 15px;
}
.has-scrollbar::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 20px;
    outline: 2px solid var(--bittersweet);
}
.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bittersweet);
    border-radius: 20px;
    border: 2px solid var(--white);
}
.has-scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 40px);
}
.collection-card .card-title {
    color: var(--white);
    font-size: 5vh; 
    text-align: center; /* 確保文字水平居中 */
}
/* 單獨修改最後一個 .collection-card 中的 .card-title 的文字顏色 */
.collection-list li:last-child .card-title{
    color: var(--onyx);
}
/* # product */
.product .section-title {
    text-align: center;
    margin-bottom: 25px;
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px
}
.filter-btn {
    color: var(--onyx);
    padding: 10px 16px;
    /* font-family: var(--ff-roboto); */
    font-size: var(--fs-8);
    font-weight: var(--fw-700);
    border: 1px solid var(--gainsboro);
    border-radius: 30px;
}
.filter-btn.active {
    background: var(--bittersweet);
    color: var(--white);
    border-color: var(--bittersweet);
}
.product-list {
    display: grid;
    gap: 50px 25px;
}
.product-list .card-banner {
    background: var(--cultured);
    position: relative;
    height: 350px;
    overflow: hidden;
}
.image-contain {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
    object-position: center;
    transition: var(--transition-2);
}
.product-card{
    padding: 20px;
}
.product-card:is(:hover, :fouce) .image-contain {
    transform: scale(1.1);
}
.card-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--bittersweet);
    color: var(--white);
    padding: 5px 15px;
    border-radius: 25px;
    font-size: var(--fs-7);
}
.card-action-list {
    position: absolute;
    top: 20px;
    right: -20px;
    opacity: 0;
    transition: var(--transition-1);
}
.product-card:is(:hover, :fouce) .card-action-list {
    right: 20px;
    opacity: 1;
}
.card-action-item {
    position: relative;
}
.card-action-item:not(:last-child) {
    margin-bottom: 10px;
}
.card-action-btn {
    background: var(--white);
    color: var(--rich-black-fogra-29);
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    transition: var(--transition-1);
}
.card-action-btn i {
    width: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.card-action-btn:is(:hover, :fouce) {
    background: var(--bittersweet);
    color: var(--white);
}
.card-action-tooltip {
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
    width: max-content;
    background: var(--black_90);
    color: var(--white);
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}
.card-action-btn:is(:hover, :focus) + .card-action-tooltip { 
    opacity: 1; 
}
.card-content {
    padding: 24px 15px 0;
    text-align: center;
}
  
.card-cat {
    font-family: var(--ff-roboto);
    color: var(--onyx);
    font-size: var(--fs-7);
    margin-bottom: 12px;
}

.card-cat-link {
    display: inline-block;
    color: inherit;
    transition: var(--transition-1);
}
  
.card-cat-link:is(:hover, :focus) {
    color: var(--bittersweet);
}
.product-card .card-title {
    margin-bottom: 12px;
}
.product-card .card-title > a {
    color: inherit;
    transition: var(--transition-1);
}
.product-card .card-title > a:is(:hover, :focus) {
    color: var(--bittersweet);
}
.card-price {
    color: var(--bittersweet);
    font-family: var(--ff-roboto);
    font-weight: var(--fw-600);
}
.card-price del {
    color: var(--gray-x-11-gray);
    margin-left: 8px;
}
/* # cta */
.cta-list {
    display: grid;
    gap: 40px;
    padding: 20px;
}

.cta-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    text-align: center;
    padding: 50px 20px;
}
.cta-card .card-subtitle {
    font-size: var(--fs-5);
    margin-bottom: 15px;
}
.cta-card .card-title {
    color: var(--white);
    line-height: 1.3;
    margin-bottom: 20px;
}
.cta-card .btn-link {
    background: none;
    border-color: var(--white);
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 4px;
    width: 80%;         /* 設定為父容器寬度的 80% */
    margin: 0 auto;     /* 水平居中 */
}
.cta-card .btn-link i {
    margin-left: 5px;
}
.btn-link:is(:hover, :focus) i,
.btn-link:is(:hover, :focus) span {
    transform: scaleX(1.1);
    color: var(--bittersweet);
    transition: var(--transition-1);
}
.btn-link:is(:hover, :focus){
    border-color: var(--bittersweet);
    transition: var(--transition-1);
}

/* >= 768px */
/* @media screen and (min-width: 768px) {
    .cta-list {
        display: flex;
        width: 50%;
        width: calc(50% - 10px);


    }
    .cta-card {
        background-size: none;
        background-position: none;
        width: calc(50% - 10px);


    }
} */